name: port
channels:
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - jupyterlab
  - notebook
  - ipykernel
  - pip
  - pip:
    - yfinance
    - PyPortfolioOpt
    - scipy
    - scikit-learn